@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300;1,500&display=swap');
* {
    box-sizing: border-box;
    max-width: 450px;
    max-height: 500px;
    background: #FAF0E6;
    font-family: 'Montserrat', sans-serif; 
    margin: 0px;
    padding: 0px;
    left: 55px;
    color: black;
    list-style: none;
}

.body {
    line-height: 20px;
    font-size: 14px;
    color: #000000   
}

.myname {
    font-size: 40px;
    font-weight: 600px;
    text-transform: uppercase;
    text-align: center;
}

.contacts {
    font-weight: 600px;
    font-size: 20px;
    line-height: 2pc;
    position: relative;
    top: 13px;  
    left: 40px;
}

.cv {
    display: flex;
    width: 750px;
    height: auto;
    margin: 56px;
    position: relative;
    margin-bottom: 20px;
    left: 300px;     
}

.photo {
    box-sizing: border-box;
    border-radius: 15%;
    position: relative;
    bottom: 30px;
    left: 20px;
}

.cv_skillname {   
    margin-left: 56px; 
    line-height: 2pc;
    position: relative;
    left: 290px;
}

.cv_r  {
    width: 600px;
    padding: 20px;
    margin: 20px;
    position: relative;
    left: 980px;
    bottom: 700px;
    font-size: 20px;
    line-height: 1pc; 
}

.title .skills {
    margin-bottom: 20px;
    position: relative;
    left: 260px;
}

.cv_skillname {
    margin-left: 108px;
}

.skills {
    margin: 56px;
    font-size: 40px;
    font-weight: 600px;
    text-transform: uppercase;
    text-shadow: #D2691E;
    line-height: 1pc;
    text-align: center;
    position: relative;
    left: 200px;
}

.workexp {
    position: relative;
    font-size: 40px;
    left: 390px;
    top: 15px;
    text-align: center;  
    text-transform: uppercase;
}

.workmyexp {
    font-weight: 600px;
    position: relative;
    left: 390px;
    top: 35px;
    font-size: 20px;
    line-height: 1.5pc;   
}

.info {
    font-weight: 600px;
    font-size: 20px;
    line-height: 1.5pc;
    position: relative;
    top: 25px;
    left: 65px;  
}

.qualities  {
     font-size: 20px;
     position: relative;
     left: 1120px;
     bottom: 700px;
     line-height: 2pc;  
}

.education {
    font-size: 40px;
    font-weight: 600px;
    text-transform: uppercase;
    line-height: 2pc;
    position: relative;
    left: 1020px;
    bottom: 650px;
    text-align: center;   
}

.edu {
    position: relative;
    left: 1100px;
    bottom: 620px;
    font-size: 20px;  
}

.englvl {
    font-size: 40px;
    font-weight: 600px;
    text-transform: uppercase;
    line-height: 2pc;
    position: relative;
    left: 1060px;
    bottom: 550px;
    text-align: center;
}

.eng {
    position: relative;
    left: 1105px;
    bottom: 510px;
    font-size: 23px;   
}

.cv_item {
    font-size: 23px;
    margin-left: 50px;
}

.footer a {
    font-size: 20px;
    position: relative;
    left: 1700px;
    color: black;
}

.footer img {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    left: 1700px;
    width: 200px;
}
