@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300;1,500&display=swap');

* {
    color: black; 
}

body {
    max-height: 120vh;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    box-sizing: border-box;
    max-width: 200vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: linear-gradient(#FFDEAD, #808080, #BDB76B);
    
}

.main_cv {
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 1200px;
    overflow: hidden;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;   
}

.info_main {
    margin-left: 60px;
}

.info_dop {
    margin-left: 60px;
}


.title {
    height: 250px;
    align-items: center;
    display: flex;
    
}

.photo {
    margin-left: 200px;
}

.photo img {
    object-fit: cover;
    width: 200px;
    height: 200px;
    border-radius: 75%;
    align-items: right;
    margin-right: 40px;  
}

.footer {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.footer img {
    width: 120px;
}


.img_git img {
    width: 50px;
    height: 50px;
    position: relative;
    bottom: 20px;
}

.footer time  {
    width: 76px;
    height: 76px;
}

.footer mark {
    background: #8FBC8F	;
    border-radius: 25px;
    margin-left: 5px;
}